# Environmental Variables

PORT=*YOUR BACKEND PORT HERE*
PORT_FRONT=*YOUR FRONTEND PORT HERE*
FRONTEND_URL=*YOUR FRONTEND URL HERE (INCLUDE HTTP/HTTPS) e.g 'http://127.0.0.1'*

CLIENT_ID=*SPOTIFY APP CLIENT ID*
SECRET_ID=*SPOTIFY APP SECRET ID*

STATE=*ANY STRING*

MONGO_DB=*NAME OF YOUR MONGODB DB* # This is an optional field if not using Mongo to cache data

SALT_PATTERN=*STRING OR INT*