#home {
  height: 100vh;
  background-color: #212121;
  color: #1db954;
  display: flex;
  justify-content: start;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
}

#home h1 {
  font-size: max(4vw, 30px);
  text-align: center;
}
#home p {
  font-size: max(2vw, 20px);
  text-align: center;
}

#home button {
  font-size: max(2vw, 20px);
  height: 10vh;
}