#statspage-container {
  height: 100vh;
  width: 100%;
  gap: 5px;
  background-color: lightslategrey;
  border-radius: 10px;
}

#category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #1db954;
  height: 10vh;
  border-radius: 10px 10px 1px 1px;
}

.category-label {
  display: contents;
}

.category-select-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lime;
  height: 80%;
  width: max(10%, 15vh);
  text-align: center;
  font-size: max(1.5vw, 3vh);
  border-radius: 10px;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + span {
  background-color: darkgreen;
  color: white;
}

#items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, max(18vw, 15vh));
  gap: 1px;
  justify-content: center;
  background-color: lightslategrey;
}

.stat-card {
  position: relative;
  overflow: hidden;
  background-color: lightgray;
  aspect-ratio: 1 / 1;
  display: block;
  border-radius: 1px;
  font-size: max(1.7vw, 1.8vh);
}

.stat-card img {
  height: 100%;
  width: 100%;
}

.card-name {
  position: absolute;
  display: block;
  margin: 0;
  width: 95%;
  top: 0;
  left: 5%;
  opacity: 0;
  transition: 1s;

  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stat-card:hover img {
  opacity: 50%;
}

.stat-card:hover .card-name {
  opacity: 1;
}